.board{
    display: flex;
    flex-wrap: wrap;
    width: 15.6rem;
    height: 15.6rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: .5rem solid white;
    border-radius: .3rem;
    box-shadow: 0 0 10px 1px gray;
    text-shadow: 0 0 4px gray;
}

